.clippath {
  clip-path: polygon(0 0, 94% 0, 63% 100%, 0% 100%);
}

.clippath2 {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 27% 100%);
  background-color: #0789da;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #cccccc;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background: #616161;
  border-radius: 2px;
}